html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* MOBILE FIRST */
.main {

  background-image: url('../images/bc-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   background-origin: border-box;
  min-height: 100vh;

  width: 100%;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */

}

/* CONTAINER */
.container {display: flex; width: min(100%, 960px); max-width: 100%; padding: 20px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); background-color:#FFFFFF; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); border-radius: 14px 14px 14px 14px; position: relative;}

.container::before { content: ""; position: absolute; top: 0; left: 0; height: 6px; width: 100%; background: linear-gradient(to right, crimson, #06B6D4); }

/* FORM */
form { padding: 20px; width: 50%;}
 

.profile-info{text-align: center; color: crimson; font-size: 23px;}

form fieldset { border: none; padding: 0; margin-top: 0px;}

.input-fieldset{width: 100%; }

.field-group{width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 10px 0px;}

.field-group > div{width: 45%;}

form fieldset label { display: inline-flex; align-items: center; margin-right: 15px; gap: 5px;cursor: pointer;}

 form input, form textarea { width: 100%; /* ✅ default mobile */ padding: 8px;
  margin-top: 5px; border: 1px solid #E2E8F0; border-radius: 8px; outline: none;
  transition: 0.3s;}

 

form input:focus,
form textarea:focus {
  border-color: #4F46E5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

/* BUTTON */
form button { margin-top: 15px; padding: 12px; border: none; border-radius: 10px; background: crimson;; color: white; font-weight: bold; cursor: pointer; transition: 0.3s; }

form button:hover {
  background: #4338CA;
}

.skills-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

/* CARD */

.card-container{padding: 25px;
  width: 50%; border-radius: 0px 14px 14px 0px;
   
  text-align: center;
 
  
  position: relative;
  overflow: hidden;}

/* CHILD SELECTOR */
.card > h2 {
  color: crimson;
  margin-bottom: 5px;
  font-size: 16px;
}

/* CARD GRADIENT TOP BAR */ 


/* ID overrides CLASS (specificity test) */
#cardTitle {
  color:  crimson;
}

/* DESCENDANT SELECTOR */
.card .skills span {
  display: inline-block;
  background: #E0F2FE;
  color: #0369A1;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 20px;
  font-size: 12px;
}

/* AVATAR */
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 15px;
  background: linear-gradient(135deg, crimson, crimson);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: 3px solid #FFFFFF;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* ERROR */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


 
 @media only screen and (max-width: 767px) {

  .main {
    min-height: auto;
    align-items: flex-start;
    padding: 16px 0;
    overflow-x: hidden;
  }

  .container {
    flex-direction: column;
    width: calc(100% - 20px);
    padding: 10px;
  }

  form {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid gray;
  }

  .skills-group {
     
    gap: 2px;
}
  .card-container {
    width: 100%;
    border-radius: 14px;
    padding: 20px 0px;
    
  }

  .field-group {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .field-group > div {
    width: 100%;
    padding: 10px 0px;
  }

  
   .field-group:nth-of-type(2) > div:nth-child(2) {
  width: auto;
}

  .avatar {
    width: 70px;
    height: 70px;
    font-size: 18px;
  }

  .profile-info {
    font-size: 18px;
  }

  form fieldset {padding: 10px 0px;}

  form button {margin-top: 8px; padding: 10px;}
}

 @media only screen and (min-width: 768px) and (max-width: 1024px) {

  .container { width: calc(100% - 50px); padding: 15px;}

       .main {
        min-height: auto;
        align-items: flex-start;
        padding: 20px 0;
         
    }
    /* .field-group > div:nth-child(2) { width: auto;} */

    .field-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    
}

.field-group > div {
    width: 100%;
    padding: 8px 0px;
}

 .field-group:nth-of-type(2) > div:nth-child(2) {
  width: auto;
}

}